@font-face {
  font-family: 'Josefin_Bold';
  src: url("../fonts/JosefinSans-Bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin_Medium';
  src: url("../fonts/JosefinSans-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin_Regular';
  src: url("../fonts/JosefinSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin_Light';
  src: url("../fonts/JosefinSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin_Regular';
}

h1 {
  font-size: 1.5rem;
  font-family: 'Josefin_Bold';
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
}

.medium {
  font-family: 'Josefin_Medium';
}

.light {
  font-family: 'Josefin_Light';
}

.color-morado, .btn:hover {
  color: #190056;
}

.color-azul {
  color: #3D93A2;
}

.color-fucsia {
  color: #A1037D;
}

.color-gris1 {
  color: #DEDCE3;
}

.color-gris2 {
  color: #A5A5AF;
}

.color-blanco, .item:hover i {
  color: #fff;
}

.color-negro {
  color: black;
}

.bg-morado {
  background-color: #190056;
}

.bg-azul {
  background-color: #3D93A2;
}

.bg-fucsia {
  background-color: #A1037D;
}

.bg-gris1 {
  background-color: #DEDCE3;
}

.bg-gris2 {
  background-color: #A5A5AF;
}

.border-morado, .btn:hover {
  border-color: #190056 !important;
}

.border-azul {
  border-color: #3D93A2 !important;
}

.border-fucsia {
  border-color: #A1037D !important;
}

.border-gris1 {
  border-color: #DEDCE3 !important;
}

.border-gris2 {
  border-color: #A5A5AF !important;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

.btn {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  font-weight: 700;
}

.btn:hover {
  background-color: white;
  border: 2px solid;
}

.logo img {
  width: 8vw;
}

header {
  position: fixed;
  padding: 1.5vw;
  top: 0;
  width: 100%;
  z-index: 2;
}

header .nav, header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav {
  position: relative;
  background-color: #fff;
  padding: 1vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 3vw;
  overflow: hidden;
  -webkit-box-shadow: 0 0.5rem 0.9rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 0.9rem rgba(0, 0, 0, 0.2);
}

header .nav .menu {
  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .nav .menu li {
  list-style: none;
  margin: 0 0.5vw;
}

header .nav .menu li a {
  text-decoration: none;
  color: #A5A5AF;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .nav .menu li a:hover {
  color: #3D93A2;
}

header .nav input:checked ~ .menu {
  width: 24vw;
}

header .nav input {
  width: 2vw;
  height: 2vw;
  cursor: pointer;
  opacity: 0;
}

header .nav span {
  position: absolute;
  left: 1.3vw;
  width: 1.5vw;
  height: 0.2rem;
  border-radius: 3vw;
  background-color: #A5A5AF;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .nav input:checked ~ span {
  background-color: #3D93A2;
}

header .nav span:nth-child(2) {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

header .nav input:checked ~ span:nth-child(2) {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}

header .nav span:nth-child(3) {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

header .nav input:checked ~ span:nth-child(3) {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}

.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vw;
}

.logo-container {
  position: relative;
}

.logo-container .logo-banner {
  z-index: 1;
  position: relative;
}

.logo-container .logo-2 {
  position: absolute;
  top: 0;
  left: 37%;
  z-index: 0;
  -webkit-animation: rotate 5s linear infinite;
          animation: rotate 5s linear infinite;
}

.logo-banner {
  width: 15vw;
}

.wave {
  margin-top: -10%;
}

.wrapper {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: auto;
  max-width: 1200px;
  max-height: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-gap: 2vmin;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .img-rombo {
  width: 280px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper IMG {
  z-index: 1;
  grid-column: span 2;
  max-width: 100%;
  margin-bottom: -52%;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .25s;
  transition: all .25s;
}

.wrapper IMG:nth-child(7n + 1) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

.wrapper IMG:hover {
  z-index: 2;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.banner-parallax {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.banner-parallax .swiper {
  width: 100%;
  height: 100%;
}

.banner-parallax .swiper .swiper-button-next,
.banner-parallax .swiper .swiper-button-prev {
  color: #190056;
}

.banner-parallax .swiper .swiper-slide img {
  width: 40vw;
}

.item {
  position: relative;
  cursor: pointer;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.item .icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-shadow: 0rem 0.5rem 0.8rem #190056;
          box-shadow: 0rem 0.5rem 0.8rem #190056;
  z-index: 8;
}

.item p {
  background: white;
  padding: 0 1.5rem;
  margin-left: -3%;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  -webkit-box-shadow: 0rem 0.5rem 0.8rem #190056;
          box-shadow: 0rem 0.5rem 0.8rem #190056;
  z-index: 3;
}

.item:hover p, .item:hover .icon {
  background-color: #190056;
  color: #fff;
}

footer .logo {
  width: 10vw;
}

footer .redes a {
  width: 5vw;
  height: 5vw;
  margin: 0.5vw;
  text-align: center;
  border-radius: 50%;
  padding: 0.5vw;
  border: 1px solid black;
  background-color: white;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

footer .redes a i {
  font-size: 1vw;
  color: black;
}

footer .redes a:hover {
  border: none;
  background-color: black;
}

footer .redes a:hover i {
  color: white;
}

footer {
  background-size: cover;
}

.only-desk {
  display: block;
}

.only-mobile {
  display: none;
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.8rem;
  }
  p {
    font-size: 0.6rem;
  }
  .only-desk {
    display: none;
  }
  .only-mobile {
    display: block;
  }
  .logo img {
    width: 26vw;
  }
  .banner-parallax {
    min-height: 40vh;
  }
  .banner-parallax .swiper .swiper-slide img {
    width: 100%;
  }
  header .nav input:checked ~ .menu {
    width: 80vw;
  }
  header .nav .menu li a {
    font-size: 2.5vw;
  }
  header .nav span {
    width: 3.2vw;
    left: 2.1vw;
  }
  header .nav input {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
  }
  .wrapper .img-rombo {
    height: 100px;
  }
  .app {
    width: 100%;
  }
  footer .logo {
    width: 40vw;
  }
  footer .redes a {
    width: 8vw;
    height: 8vw;
    padding: 1.5vw;
    margin: 0.5vw;
  }
  footer .redes a i {
    font-size: 5vw;
    color: black;
  }
  footer ul li p {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.7rem;
  }
  header .nav input:checked ~ .menu {
    width: 50vw;
  }
  .wrapper .img-rombo {
    height: 200px;
  }
  /* Panels. */
  .panel-cont .splitview {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
  }
  .panel-cont .panel .description {
    width: 30%;
  }
  .panel-cont .panel img {
    width: 25%;
  }
  .cont {
    height: 75vh;
  }
  .app__text {
    right: 9%;
  }
  .app__text--2 {
    top: 200px;
    left: 10%;
  }
  .banner-parallax {
    height: 40vh;
  }
  footer .logo {
    width: 20vw;
  }
  footer .redes a {
    width: 8vw;
    height: 8vw;
    margin: 0.5vw;
  }
  footer .redes a i {
    font-size: 1rem;
    color: black;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
  header .nav input:checked ~ .menu {
    width: 40vw;
  }
  .banner-parallax {
    height: 80vh;
  }
  .wrapper .img-rombo {
    height: 280px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5vw;
    font-family: 'Josefin_Bold';
  }
  h2 {
    font-size: 1.8vw;
  }
  h3 {
    font-size: 1vw;
  }
  p {
    font-size: 0.9vw;
  }
  .banner-parallax {
    height: 80vh;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
/*# sourceMappingURL=style.css.map */